body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.mainPanel{
  width: 80%;
}

.spanAdd:hover{
  color:orange;
  cursor: pointer;
}

.spanAdd{
  background-color: black;
  padding: 0px 5px;
  border: 1px solid black;
  box-shadow: 1px 1px gray;
  border-radius: 5px;
  color: cyan;
}

.divHeader{
  background-color:black;
  color:cyan;
  font-size: 3em;
  font-weight: bold;
  border-radius: 40px;
  padding: 10px;
  text-align: center;
  box-shadow: 2px 2px gray;
  margin: 20px;
}

.tdInfo{
  padding: 5px 15px;
  font-size: 1.5em;
  font-weight: bold;
  background-color: #b7d1f1
}